body {
  text-align:center;
  background-color: #457b9d;
  overflow:auto;
}


ul {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff; /* #fff bianco */

}

li {
  float: left;
  font-size: 20px;
}



li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 66px;
  text-decoration: none;
  line-height: 45px;
}


li a:hover:not(.logo){
  background-color: rgb(190, 193, 199);
} 



.logo {
  color: #e63946;
  font-family: Berkshire Swash;
  font-size: 65px;
  text-align: center;
}

.active {
  border: none;
  outline: none;
  height: 80px;
  background: #fff;
  color: #000000;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
}

/* Float four columns side by side */
.column {
  width: 25%;
  padding: 0 10px;
  display: inline-block;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */ 
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 20px;
}

* {
  box-sizing: border-box;
}

.card input[type='text']{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #404040;
  font-size: 16px;
}


input[type='text']:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.card p{
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #ffc107;

}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}

.edited {
  float: right;
  padding-top: 30px;
}

